Z2ZConsumer/Z2ZConsumer/Web References/Z2ZService/Z2ZService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.z2z.co.za/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.z2z.co.za/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.z2z.co.za/">
      <s:element name="Z2ZUserCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aXmlCredentials" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aXmlArgument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z2ZUserCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z2ZUserCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Z2ZUserCallSoapIn">
    <wsdl:part name="parameters" element="tns:Z2ZUserCall" />
  </wsdl:message>
  <wsdl:message name="Z2ZUserCallSoapOut">
    <wsdl:part name="parameters" element="tns:Z2ZUserCallResponse" />
  </wsdl:message>
  <wsdl:portType name="Z2ZWebMethodsSoap">
    <wsdl:operation name="Z2ZUserCall">
      <wsdl:input message="tns:Z2ZUserCallSoapIn" />
      <wsdl:output message="tns:Z2ZUserCallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z2ZWebMethodsSoap" type="tns:Z2ZWebMethodsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z2ZUserCall">
      <soap:operation soapAction="http://www.z2z.co.za/Z2ZUserCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Z2ZWebMethodsSoap12" type="tns:Z2ZWebMethodsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z2ZUserCall">
      <soap12:operation soapAction="http://www.z2z.co.za/Z2ZUserCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z2ZWebMethods">
    <wsdl:port name="Z2ZWebMethodsSoap" binding="tns:Z2ZWebMethodsSoap">
      <soap:address location="http://localhost/z2zsoap/Z2ZService.asmx" />
    </wsdl:port>
    <wsdl:port name="Z2ZWebMethodsSoap12" binding="tns:Z2ZWebMethodsSoap12">
      <soap12:address location="http://localhost/z2zsoap/Z2ZService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>